*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-color: red;
	text-align: center;
}
h1{
	color: steelblue;
	font-size: 48px;
	font-weight: bolder;
	font-family:'Red Hat Mono', monospace;
}


h2{
	color: palevioletred;
	font-size: 48px;
	padding: 15px;
	font-family: 'IBM Plex Sans', sans-serif;

}
body{background-color: rgb(230, 230, 230);
text-align: center;
font-size: 30px;}

img {width: 300px ;
	border-radius:50px;}

	a{
		color: white;
		font-size: 28px;
		text-decoration: none;
		padding:  10px 10px;
		margin: 24px;
		
	}
	.container{
		width:  700 px;
		Margin: 40px auto;
		text-align: center;
	}
	.card-design{
		background-color: white;
		padding: 40px;
		margin: 20px 20px;
		box-shadow: 0px 10px 30px lightgrey;
		border-radius: 40px;
		width: 1000px auto;
		text-align: center;
		
		
	}
	p{
		margin: 32px 0;
		font-size: 35px;
		text-align: center;

	}

	a:hover{
		text-decoration: none;
		color: white;

	}
	.profile{
		border-radius: 60%;
		box-shadow: 4px 4px 2px grey;
	}

	.logo{
		background-color: white;
		color: steelblue;
		margin: 12px;
		padding: 10px;

	}

ol{
	display:inline-flex ;
	padding: 0;
}

li{
	list-style: none;
}

i{
	font-size: 45px;
	width: auto;
	margin: auto;
	padding: auto;
	color: steelblue;
}

i:hover{
	color: palevioletred;

}
@media(max-width: 760px){
	.container{
		width :600px
	}
}
@media(max-width: 500px){
	.container{
		width :400px
	}
}

}
